<input [(ngModel)]="url">
<button (click)="onGetTitleClick()">Get Title</button>
<button (click)="onGetImagesClick()">Get Images</button>
<button (click)="onGetEmailsClick()">Get Emails</button>
<button (click)="onGetChildrenClick()">Get Children</button>

<ng-container *ngIf="scrapedPage">
    <p>
        {{scrapedPage.title}}
    </p>
</ng-container>
<ng-container *ngIf="scrapedImages">
    <app-image-renderer [imageUrls]="scrapedImages.images"></app-image-renderer>
</ng-container>
<ng-container *ngIf="scrapedEmails">
    <app-emails-renderer [emails]="scrapedEmails.emails"></app-emails-renderer>
</ng-container>
<ng-container *ngIf="childPages">
    <div *ngFor="let childPage of childPages; index as i">
        <p>
            {{childPage}}
        </p>
        <button (click)="onChildTitleClick(childPage, i)">Scrape title</button>
        <button (click)="onChildImagesClick(childPage, i)">Scrape images</button>
        <button (click)="onChildEmailsClick(childPage, i)">Scrape emails</button>
        <button (click)="onChildClearClick(i)">Clear</button>
        <ng-container *ngIf="childData.get(i)">
            <p>
                {{childData.get(i)?.title}}
            </p>
            <app-emails-renderer [emails]="childData.get(i)?.emails ?? []"></app-emails-renderer>
            <app-image-renderer [imageUrls]="childData.get(i)?.images ?? []"></app-image-renderer>
        </ng-container>

    </div>
</ng-container>